# Arquivos gerados pelo Xcode
.DS_Store
build/
DerivedData/

# Arquivos de build
*.o
*.xcodeproj/*
*.xcworkspace/*
*.xcuserstate
*.swiftpm

# Dependências geradas pelo CocoaPods
Pods/
Podfile.lock

# Arquivos de configuração gerados
xcuserdata/

# Logs e dados temporários
*.log
*.crash
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Arquivos específicos do macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight
.Trashes
__MACOSX/

# Arquivos de compilação do Swift Package Manager
.build/
